body {
    background-image: url('../assets/images/background.jpg');
}

.navbar {
    background-color: rgba(0, 0, 0, 0.7);
}

#searchBar {
    background-image: url('../assets/icons/search.png');
    background-repeat: no-repeat;
    background-position-x:  95%;
    background-position-y: 50%;
    width: 300px;
    height: 40px;
}

#terrain {
    background-image: url('../assets/images/terrain-removebg-preview.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 45rem;
}

.player {
    background-image: url('../assets/images/card.png');
    background-repeat: no-repeat;
    background-size: contain;
}